<app-header></app-header>
<main>
    <section>
        <div class="all-about">
            <h3>About Us</h3>
        </div>

        <div class="about-us-main">
            <div class="">
                <div class="about-img">
                    <img class="" src="assets/shree.png" alt="">
                </div>
                <br>

                <h6>Who are we ?</h6>
                <p>Shree Dairy is a corporate citizen who understands the enormous significance of hygienic milk and
                    dairy products for agro and industrial development. Leveraging the strength of superior product
                    offerings, Shree Dairy has strategized its foray into the consumer market, with the aim of being the
                    market leader, earning respect and revenue for the stakeholders.</p>

                <br>
                <h6>Our mission</h6>
                <p>Our mission is to become the premier retailer of high-quality food products in India. To achieve this
                    goal, we are committed to passionately focusing on customer value, being intolerant of waste, and
                    serving as responsible citizens in our communities.</p>

                <br>

                <h6>Our vision</h6>
                <p>Our aim is to meet the diverse needs of consumers every day by marketing and selling foods that are
                    consistent and of high quality.</p>

                <br>

                <h6>Why should Shree Dairy become a part of your household?</h6>
                <p>Sourced from our very own farms, our milking process is hygienic and untouched by hands. We control
                    the entire process from milking to processing and monitor every point of the process to make sure
                    that the product that reaches you is of the highest quality. No added preservatives or hormones in
                    any product because we understand the importance of the highest quality dairy products for you and
                    your family!
                </p>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>