

/* ----------------------------------------------
header section
------------------------------------------------- */

.main-nav {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    color: white;
    box-shadow: 0 -5px 5px rgba(40, 160, 239, 0.2),  /* Top shadow */
                0 5px 5px rgba(40, 160, 239, 0.2);   /* Bottom shadow */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.nav-menu {
    width: 50%;
    padding: 15px;
}


/* .menu-f1 {
    display: flex;
    gap: 61px;
} */
.main-nav-second {
    background: #fff;
    box-shadow: 2px 0 5px rgba(34, 79, 110, 0.2);
    width: 100%;
}

ul {
    list-style: none;
    text-decoration: none;
}
.nav-second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal columns */
    gap: 20px; /* Add spacing between the columns */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.nav-grid li {
    text-align: center;
}

.nav-grid li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0477BF;
}

.menu-btn {
    color: white;
    height: 50px;
    align-items: center;
    width: 50px;
    justify-content: center;
    border-radius: 30px;
    display: flex;
    margin-top: -10px;
}

.menu-btn img {
    width: 90px;
    height: 90px;
    margin-left: 30px;
}

.icon-menu {
    height: 50px;
    width: 50px;
}


.nav-menu ul {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.nav-menu ul li div {
    background: #0477BF;
    height: 45px;
    align-items: center;
    width: 45px;
    justify-content: center;
    border-radius: 30px;
    display: flex;
}

.icon-nav {
    height: 25px;
    width: 25px;
}


.side-menu {
    text-align: justify;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #0477BF;
    color: #fff;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-menu-header {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.side-menu ul {
    line-height: 60px;
    margin-top: 0px;
    transition: 0.3s;
}

.side-menu ul li {
    justify-content: start;
    display: flex;
    align-items: center;
}

.side-menu ul li div {
    width: 100%;
    display: flex;
}

.sidemenu-icon-u{
    height: 45px;
    width: 45px;
    margin-top: 10px;
}

 .sidemenu-icons {
    height: 65px;
    width: 25px;
}


/* .side-menu ul li img {
    display: inline-block;
    width: 22%;
    height: 50px;
    border-radius: 25px;
} */

.side-menu ul li div span {
    margin: 10px;
    margin-top: 0PX;
}

.mobile-menu-btn{
    display: none;
}



@media (max-width: 768px) {
    /* Tablet and below */

    .main-nav {
        height: 4rem;
    }

    .search-bar {
        display: none;
    }

    .menu-btn {
        position: absolute;
        height: 33px;
        width: 40px;
    }

    .nav-menu ul li div {
        margin-top: -3px;
        height: 35px;
        width: 35px;
    }

    .nav-menu ul li div img {
        height: 35px;
        width: 35px;
    }
}

@media (max-width: 480px) {
    /* Mobile */
    .mobile-menu-btn{
        display: block;
    }
    .main-nav-second {
       display: none;
    }

    .main-nav {
        height: 4rem;
    }
    

    .menu-btn {
        position: absolute;
        height: 33px;
        width: 40px;
    }

    .nav-menu ul li div {
        margin-top: -3px;
        height: 35px;
        width: 35px;
    }

    .nav-menu ul li div img {
        height: 35px;
        width: 35px;
    }
}