<app-header></app-header>
<main>
    <section>
        <div class="all-products">
            <h3>Products Shop</h3>
        </div>

        <div class="products-main">
            <div>
                <br>
                <div class="products-heading">
                    <h4>All Products</h4>
                </div>
                <div class="product-offer">
                    <div class="product-circle-offer-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/homedairy4.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/designersliderimg2.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/Designer.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
                <div class="products-heading">
                    <h4>Milks</h4>
                </div>
                <div class="product-offer">
                    <div class="product-circle-offer-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/homedairy4.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/designersliderimg2.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/Designer.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="products-heading">
                    <h4>Butter</h4>
                </div>
                <div class="product-offer">
                    <div class="product-circle-offer-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/homedairy4.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/designersliderimg2.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/Designer.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>


                <br>
                <div class="products-heading">
                    <h4>Cookies</h4>
                </div>
                <div class="product-offer">
                    <div class="product-circle-offer-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/homedairy4.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/designersliderimg2.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/Designer.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="products-heading">
                    <h4>Cheeze</h4>
                </div>
                <div class="product-offer">
                    <div class="product-circle-offer-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/homedairy4.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/designersliderimg2.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/Designer.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>


                <br>
                <div class="products-heading">
                    <h4>Namkeen's</h4>
                </div>
                <div class="product-offer">
                    <div class="product-circle-offer-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/homedairy4.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/designersliderimg2.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="product-circle-offer">
                        <div class="product-circle-offer-in">
                            <div class="card">
                                <img src="assets/Designer.jpeg" alt="Denim Jeans" style="width:100%">
                                <h6>Tailored Jeans</h6>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </section>
</main>
<app-footer></app-footer>