/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 62.2%;
    /* 1rem = 10px */
/* } */

:root {
    --primary-color: rgb(30, 104, 180);
    --background-color: #f8f8f8;
    ;
    --white: #fff;
    --helper-color: black;
}

h1,
h2,
h3,
h4 {
    color: var(--helper-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: inline-block;
    width: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
