main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 130px
    
}

.slider-main {
    padding: 5px;
    margin: 10px;
    display: grid;
    height: auto;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
}

.item {
    background-color: white;
}

.large {
    grid-column: 1 / 2;
}

.top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    align-items: center;
    justify-items: center;
}

.bottom {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.smallImge {
    width: 97%;
    border-radius: 5px;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.dots span {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.dots span.active {
    background-color: #717171;
}

.second-grid {
    display: grid;
}

/* all produst section  */
.all-product {
    margin: 12px;
    padding: 0px -1px 1px 0px;
    margin-top: 20px;
    box-shadow: 0 -4px 5px rgba(40, 160, 239, 0.2), 0 4px 5px rgba(40, 160, 239, 0.2);
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.all-product h3{
    text-align: center;
    font-size: x-large;
    color: #0477BF;
}

.product-item {
    display: grid;
    justify-items: center; 
    flex-wrap: wrap;   
    gap: 10px;    
    grid-template-columns: repeat(3, 1fr);   
    margin-bottom: 20px;       
}

.product-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 180px;
    overflow: hidden;
}

.product-circle-in {
    text-align: center;
}

.product-circle img {
    width: 90%;
    height: 100%;
    border-radius: 5%;
}

.product-circle-in span{
    font-size: larger;
}

/* <!-- by one get free --> */
.product-offer {
    display: grid;
    justify-items: center;
    margin: 12px;
    gap: 10px;    
    grid-template-columns: repeat(3, 1fr);
}

.product-circle-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* product card */
.card {
    box-shadow: 0 4px 8px 0 rgba(40, 160, 239, 0.2), 0 -4px 8px 0 rgba(40, 160, 239, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 5px; /* Rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

/* Card title */
.card h6 {
    font-size: medium;
}

/* Card text */
.card p {
    font-size: smaller;
}

/* Price text */
.price {
    color: grey;
    font-size: 22px;
}

/* Button styling */
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #0477BF;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 8px; /* Matching the card's rounded corners */
    border-bottom-right-radius: 8px; /* Matching the card's rounded corners */
}

/* Hover effect for the card */
.card:hover {
    transform: translateY(-10px); /* Lifts the card upwards */
    box-shadow: 0 12px 16px rgba(40, 160, 239, 0.2); /* Increases shadow on hover */
}

/* Button hover effect */
.card button:hover {
    opacity: 0.7;
}

.in-city {
    box-shadow: 0 4px 8px 0 rgba(40, 160, 239, 0.2), 0 -4px 8px 0 rgba(40, 160, 239, 0.2);
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.city-address {
    height: 100%;
    margin: auto;
    /* background-color: #f0f0f0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}


@media (max-width: 1200px){
     /* all product section */
     .product-item {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        gap: 5px;
    }

    main {
        margin-top: 115px;
    }

    /* all product section */
    .product-item {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 120px;
        overflow: hidden;
    }

    .in-city {
        box-shadow: 0 4px 8px 0 rgba(40, 160, 239, 0.2), 0 -4px 8px 0 rgba(40, 160, 239, 0.2);
        margin: 12px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    
}

@media (max-width: 480px) {
    .second-grid {
        display: none;
    }

    .large {
        grid-column: 1 / 3;
    }

    .slider-main {
        margin: 5px;
    }

    main {
        margin-top: 70px !important;
    }

    /* all product section */
    .all-product h3{
        font-size: x-large;
    }

    .product-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 105px;
        overflow: hidden;
    }

    /* <!-- by one get free --> */
    .product-offer { 
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-circle-offer-in img {
        width: 100%;
    }
}
